# Virtual environment
.venv/
env/
venv/

# Python bytecode and caches
__pycache__/
*.py[cod]
*$py.class

# PyTorch / Hugging Face model caches
.cache/
*.bin
*.safetensors
*.pt

# OS & Editor specific files
.DS_Store
Thumbs.db
.vscode/